<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
  
  <h1>Account Page</h1>
  <% if Helpers.is_logged_in?(session) %>
    <h3>Welcome <%=Helpers.current_user(session).username%></h3>
    <h3>Balance: <%=Helpers.current_user(session).balance.to_i%></h3>
  <% end %>
  
  <!--<p><a href='/logout'>Log Out</a></p>-->
  <form action='/logout' method='get'>
    <input type='submit' value='Log Out'/>
  </form>
  </body>
</html>